force-app/main/default/flows/Survey_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Survey Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AdvanceSettingsScreen</name>
        <label>AdvanceSettingsScreen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaverScreen</targetReference>
        </connector>
        <fields>
            <name>AdvanceSettingsScreenComponent</name>
            <extensionName>c:advanceSettingScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>surveyReceivers</name>
                <value>
                    <elementReference>EmailRecieverList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groups</name>
                <value>
                    <elementReference>GroupList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>survey</name>
                <value>
                    <elementReference>Survey</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>surveys</name>
                <value>
                    <elementReference>SurveyForConnectingList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmailRecieverList</assignToReference>
                <name>surveyReceivers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>GroupList</assignToReference>
                <name>groups</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Survey</assignToReference>
                <name>survey</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SurveyForConnectingList</assignToReference>
                <name>surveys</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Basic_Screen</name>
        <label>Basic Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trigger_Rule_Screen</targetReference>
        </connector>
        <fields>
            <name>BasicScreenComponent</name>
            <extensionName>c:basicScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>surveyData</name>
                <value>
                    <elementReference>Survey</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logoDocumentId</name>
                <value>
                    <elementReference>LogoContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LogoContentDocumentId</assignToReference>
                <name>logoDocumentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Survey</assignToReference>
                <name>surveyData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen</name>
        <label>Questions Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validation_Screen</targetReference>
        </connector>
        <fields>
            <name>QuestionScreenComponent</name>
            <extensionName>c:questionScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>questions</name>
                <value>
                    <elementReference>QuestionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTemplateName</name>
                <value>
                    <elementReference>SurveyTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standardQuestions</name>
                <value>
                    <elementReference>StandardQuestionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templates</name>
                <value>
                    <elementReference>SurveyTemplateList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateQuestions</name>
                <value>
                    <elementReference>TemplateQuestionList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>QuestionList</assignToReference>
                <name>questions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SurveyTemplateId</assignToReference>
                <name>selectedTemplateName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StandardQuestionList</assignToReference>
                <name>standardQuestions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SurveyTemplateList</assignToReference>
                <name>templates</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TemplateQuestionList</assignToReference>
                <name>templateQuestions</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SaverScreen</name>
        <label>SaverScreen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SaverScreenComponent</name>
            <extensionName>c:saverScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>emailReceivers</name>
                <value>
                    <elementReference>EmailRecieverList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questions</name>
                <value>
                    <elementReference>QuestionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>survey</name>
                <value>
                    <elementReference>Survey</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerRules</name>
                <value>
                    <elementReference>TriggerRuleList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validations</name>
                <value>
                    <elementReference>ValidationList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trigger_Rule_Screen</name>
        <label>Trigger Rule Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Questions_Screen</targetReference>
        </connector>
        <fields>
            <name>TriggerRuleScreenComponent</name>
            <extensionName>c:triggerRuleScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>triggerRules</name>
                <value>
                    <elementReference>TriggerRuleList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TriggerRuleList</assignToReference>
                <name>triggerRules</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AdvanceSettingsScreen</targetReference>
        </connector>
        <fields>
            <name>ValidationScreenComponent</name>
            <extensionName>c:validationScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>questions</name>
                <value>
                    <elementReference>QuestionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validations</name>
                <value>
                    <elementReference>ValidationList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ValidationList</assignToReference>
                <name>validations</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Basic_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailRecieverList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Email_Receiver__c</objectType>
    </variables>
    <variables>
        <name>GroupList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>LogoContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>StandardQuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>SurveyForConnectingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>SurveyTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyTemplateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>TemplateQuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>TriggerRuleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Trigger_Rule__c</objectType>
    </variables>
    <variables>
        <name>ValidationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Validation__c</objectType>
    </variables>
</Flow>
